.NewItemForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0px;

  h1 {
      text-align: center;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }

  .col-left {
    float: left;
    width: 15%;
    margin-top: 6px;
    text-align: right;
  }

  .col-right {
    float: left;
    width: 85%;
    margin-top: 6px;
    // padding-right: 6px;
  }

  .submit-button {
    float: right;
    height: auto;
    width: 200px;
  }
}

.under-options {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 2px;
}

.option-boxes {
    background-color: rgb(197, 197, 197);
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}

.option-delete {
    background-color: white;
    border: black 1px solid;
    border-radius: 50%;
    padding: 0 5px 1px 5px;
    cursor:pointer;
    text-align: center;
    font-size: 12px;
    margin-left: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}